@charset "utf-8";

/*フォームのスタイル設定*/
form {
    width:100%;
    margin:0 auto;
}
dl {
    width:500px;
    margin:0 auto;
}
.form-item {
    border: 4px solid #e6c0c0;
    padding: 20px;
    display:flex;
    justify-content:center;
    text-align: left;}

dt {display: block;
    width:200px;
    
}
dt::before {
    content:"●";
    color:#BF788F;
    padding-right:6px;
}
dd {
    width:300px;
    margin-left:0
}
input[type="text"],input[type="email"],input[type="tel"],textarea {
    display:block;
    width:100%;
    font-size:16px;
}
select {
    width:28%;
    font-size:16px;
}
.form-submit {
    text-align:center;
}
input[type="submit"]{
    background-color:#BF788F;
    color:#ffffff;
    width:200px;
    padding:0.5em;
    border:none;
    border-radius:4px;
}
input[type="submit"]:hover {
    background-color:green;}
    
}